  nav.flex-column.nav-pills
    nav_menu_item = link_to 'Все объявления', admin_bulletins_path, class: "nav-link link-dark #{'active' if active_page == 'bulletins'}"
    nav_menu_item = link_to 'Все категории', admin_categories_path, class: "nav-link link-dark #{'active' if active_page == 'categories'}"
